/* Header styles */
.app-header {
  background-color: #333; /* Set your desired background color */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-size: 24px;
  margin: 0;
}

.contact-info {
  text-align: right;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
  border: 1px solid white; 
  padding: 5px 10px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.contact-info a:hover {
  background-color: white; 
  color: #333;
}
